:root {
    --color-rojo: #e31e25; /*color rojo don dany*/
    --color-amarillo: #fdd302; /*color amarillo don dany*/
    --color-oscuro: #231f20; /*color oscuro don dany*/
    --color-verde: #a9b638; /*color secundario verde*/
    --color-tortilla: #e6dfcc; /*color beige*/

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-tortilla);
}

header {
    text-align: center;
    padding: 20px;
    background-color: var(--color-oscuro);
    color: white;
}

header .logo {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    color: var(--color-oscuro);
}

h2 {
    text-align: center;
    color: var(--color-oscuro);
    
}

.sucursal {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mapa iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 8px;
}

.info {
    margin-top: 15px;
    font-size: 1.2em;    
    color: var(--color-oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 0; 
}

.info a {
    text-decoration: none;
 
    
}

.info p {
    margin: 5px 0;
    color: var(--color-oscuro);
}

.boton {
    border-radius: 5px;
    background-color: var(--color-amarillo);
    width: 25%;
    text-align: center;
    padding: 10px 0;  
    
}
.boton:hover {
    background-color: var(--color-tortilla);
    
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--color-oscuro);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    header .logo {
        max-width: 150px;
    }

    .mapa iframe {
        height: 200px;
    }
    
    .boton {
        width: 95%;
    }
    
    
}

